#store-container {
    display:flex;
    overflow-x:scroll;
    overflow-y:scroll;
    width:100vw;
}

#store-main {
    align-items:center;
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content:center;
}

.store-section-container {
    margin-bottom:50px;
    width:100%;
}

.store-section-header {
    background-color:#ffdca4;
    border-bottom:1px solid #fbcc82;
    border-top:1px solid #fbcc82;
    color:#53370b;
    font-size:1.8em;
    font-weight:400;
    letter-spacing:2px;
    margin-bottom:40px;
    padding:20px;
    text-align:center;
    width:100%;
}

.store-section {
    display:grid;
    gap:30px;
    grid-template-columns: repeat(auto-fit, min(400px, 100%));
    justify-content:center;
    padding:20px;
}