#cart-container {
    align-items:center;
    display:flex;
    justify-content:center;
    width:100%;
}

#cart-main {
    background-color:#f7f7f7;
    border-radius:4px;
    display:flex;
    flex-direction:column;
    margin-bottom:100px;
    margin-top:50px;
    width:min(fit-content, 100vw);
}

#cart-header {
    align-items:center;
    background-color:#86e8dc;
    border-radius: 4px 4px 0 0;
    color:#0f4f47;
    display:flex;
    flex-direction:row;
    font-size:1.1em;
    font-weight:bold;
    height:70px;
    justify-content:space-between;
    padding: 20px;
}

#cart-total {
    align-items:center;
    display:flex;
    font-weight:400;
}

#cart-total>*>button {
    background-color:#FFD899;
    color:#53370b;
    margin-left:20px;
    padding: 8px 12px 8px 12px;
}

#cart-total>*>button:hover {
    background-color:#69D1C5;
    color: #0f4f47;
}

#cart-contents {
    display:flex;
    flex-direction:column;
    gap:45px;
    padding:40px 30px 50px 30px;
}

.cart-item-row {
    align-items:center;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    min-width:300px;
}

.cart-item-quantity-section>input {
    width:35px;
}

.cart-item-image {
    background-position:center;
    background-size:cover;
    border-radius:4px;
    box-shadow: 0px 0px 3px 0px gray;
    height:50px;
    margin-right:15px;
    min-height:50px;
    min-width:50px;
    overflow:hidden;
    width:50px;
}

.cart-item-info {
    display:flex;
    flex-wrap:wrap;
    gap: 10px;
    justify-content:flex-end;
}

.name-and-price {
    align-items:center;
    display:flex;
    flex-wrap:wrap;
}

.cart-item-name {
    margin-right:15px;
}

.cart-item-quantity-section {
    align-items:center;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:15px;
    margin-left:15px;
}

.remove-from-cart-button {
    background-color:#FF7D95;
    background-position:center;
    background-size:cover;
    border:0;
    border-radius:50%;
    height:18px;
    width:18px;
}