#checkout-container {
    align-items:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-bottom:80px;
    width:100%;
}

.checkout-block {
    align-items:center;
    background-color:#f7f7f7;
    border-radius:4px;
    display:flex;
    flex-direction:column;
    margin-top:50px;
    min-width:350px;
    width:min(600px, 100vw);
}

.checkout-header {
    align-items:center;
    background-color:#86e8dc;
    border-radius: 4px 4px 0 0;
    color: #0f4f47;
    display:flex;
    flex-direction:row;
    font-size:1.2em;
    font-weight:400;
    height:70px;
    justify-content:center;
    padding: 10px 30px 10px 30px;
    width:100%;
}

.checkout-block>.form-section {
    display:flex;
    flex-direction:column;
    gap:30px;
    padding:50px;
}

.form-line {
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    width:100%;
}

#cart-review-total {
    align-items:center;
    background-color:#FFD899;
    border-radius: 0 0 4px 4px;
    color:#53370b;
    display:flex;
    font-size:1.1em;
    font-weight:400;
    height:70px;
    justify-content:space-between;
    padding-left:30px;
    padding-right:30px;
    width:100%;
}

#cart-review-contents {
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:30px;
    width:100%;
}

#submit-button-container {
    display:flex;
    justify-content:center;
    margin-top:40px;
    width:100%;
}

#submit-button-container>button {
    border:none;
    border-radius:4px;
    font-size:0.9em;
    padding:8px 12px 8px 12px;
}

#submit-button-container>button:hover {
    background-color:#FF7D95;
    color: #541420;
    transition:0.3s;
}

#modal {
    align-items:center;
    background-color: rgba(255, 255, 255, 0.695);
    display:flex;
    height:100vh;
    justify-content:center;
    position:fixed;
    width:100vw;
}

#modal-message {
    background-color:white;
    border-radius:4px;
    box-shadow: 0 0 5px 0 gray;
    padding:25px;
    text-align:center;
    width:200px;
}