#home-container {
    display:flex;
    flex-direction:column;
    width:100%;
}

#store-banner>img {
    width:min(600px, 80%);
}

#store-banner {
    align-items:center;
    background-image: url('../../assets/shop-banner.png');
    background-size:auto;
    display:flex;
    height:500px;
    justify-content:center;
}

.home-row {
    display:flex;
    flex-wrap:wrap;
}

.home-image-block {
    background-size:cover;
    flex:3;
    height:500px;
    min-width:360px;
}

.home-text-block {
    align-items:center;
    background-color:white;
    display:flex;
    flex:2;
    flex-direction:column;
    gap:10px;
    height:500px;
    justify-content:center;
    min-width:375px;
    padding:50px;
}

.home-text-block>h3 {
    margin:0;
}

.spacer {
    width:100%;
    height:50px;
    background-color:#f9f9f9;
}

.home-testimonial-block {
    align-items:center;
    background-color:#f9f9f9;
    display:flex;
    flex:1;
    flex-direction:column;
    height: min(350px, fit-content);
    justify-content:center;
    min-width:300px;
    padding:10px 50px 10px 50px;
    text-align:center;
}

.home-testimonial-block>p {
    max-width:275px;
    font-style:italic;
}

