#store-header {
    position:relative;
    width:100%;
    height:60px;
    background-color:#69D1C5;
    display:flex;
    justify-content: space-between;
    align-items:center;
    /* padding:8px 12px 8px 12px; */
}

#store-header>img {
    height:45%;
    padding:15px;
}

#store-header>img:hover {
    cursor:pointer;
}

#store-header>#logo {
    height:70%;
}