*{
  box-sizing:border-box;
}

*:hover {
  cursor:default;
}

#root {
  align-items:center;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  min-height:100vh;
  width:100vw;
}

body {
  background-color:white;
  box-sizing:border-box;
  color:#333333;
  display:flex;
  flex-direction:column;
  font-family: sans-serif;
  font-weight:200;
  margin: 0px;
  min-height:100vh;
  padding: 0px;
}

button {
  background-color: #86e8dc;
  border:none;
  border-radius:4px;
  color: #0f4f47;
  padding: 5px 10px 5px 10px;
}

button:hover {
  cursor:pointer;
  background-color:#FFD899;
  color: #53370b;
  transition:0.3s;
}

#modal {
  align-items:center;
  background-color: rgba(255, 255, 255, 0.695);
  display:flex;
  height:100vh;
  justify-content:center;
  left:0;
  position:fixed;
  top:0;
  width:100vw;
  z-index:3;
}

#modal-message {
  background-color:white;
  border-radius:4px;
  box-shadow: 0 0 5px 0 gray;
  padding:25px;
  text-align:center;
  width:250px;
  z-index:3;  
}